*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*-blx.bib
*.bib-stamp
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.log
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.ps
*.pdf
*.run.xml
*/questions/*.tex
*.pyc
.Rapp.history
